.filter-none {
    filter: none;
  }
  
  .filter-red {
    filter: sepia(1) hue-rotate(-50deg) saturate(5);
  }
  
  .filter-green {
    filter: sepia(1) hue-rotate(90deg) saturate(3);
  }
  
  .filter-blue {
    filter: sepia(1) hue-rotate(180deg) saturate(4);
  }
  
  .filter-purple {
    filter: sepia(1) hue-rotate(260deg) saturate(3);
  }
  
  .filter-orange {
    filter: sepia(1) hue-rotate(-20deg) saturate(4);
  }
  
  .filter-pink {
    filter: sepia(0.5) hue-rotate(-70deg) saturate(3);
  }